:root {
    --evenRow: white;
    --oddRow: #f2f2f2;   
}

#library {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #library td, #library th {
    border: 1px solid #ddd;
    padding: 8px;
    color: black;
  }
  
  #library tr:nth-child(even){background-color: var(--evenRow);}
  #library tr:nth-child(odd){background-color: var(--oddRow);}
  
  #library tr:hover {background-color: #ddd;}
  
  #library th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #aa7604;
    color: white;
  }

  .remove-book {
    width: 20px;
  }

  .remove {
    background-color: rgb(185, 0, 0);
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.remove:hover {
    background-color: #850000;
}

.remove:active {
    transform: scale(0.95);
}